---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/140/artifacts?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-a7377834
      X-Circleci-Request-Id:
      - af18129a-1ca0-473a-84bd-c62f6e402a55
      X-Route:
      - "/artifacts"
      - ":build_num"
      - "\\d+"
    body:
      encoding: UTF-8
      string: '{"message":"Build not found"}'
  recorded_at: Wed, 18 Jan 2017 21:31:25 GMT
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/1/artifacts?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-478f0249
      X-Circleci-Request-Id:
      - b3d3393e-dae0-47e7-9627-bdccbb0c80f3
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/artifacts"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '[{"path":"/tmp/circle-junit.3ZRe0p0/rspec/rspec.xml","pretty_path":"$CIRCLE_TEST_REPORTS/rspec/rspec.xml","node_index":0,"url":"https://1-78449359-gh.circle-artifacts.com/0/tmp/circle-junit.3ZRe0p0/rspec/rspec.xml"}]'
  recorded_at: Wed, 18 Jan 2017 21:46:41 GMT
recorded_with: VCR 3.0.3
