---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/140/artifacts?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-babad829
      X-Circleci-Request-Id:
      - 6b95d80a-edb4-4cec-8b46-2e48966e9197
      X-Route:
      - "/artifacts"
      - ":build_num"
      - "\\d+"
    body:
      encoding: UTF-8
      string: '{"message":"Build not found"}'
  recorded_at: Wed, 18 Jan 2017 21:31:25 GMT
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/1/artifacts?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-90989e68
      X-Circleci-Request-Id:
      - 59d6c6be-c09a-42ee-8049-1a2896bc0bdf
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/artifacts"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '[{"path":"/tmp/circle-junit.3ZRe0p0/rspec/rspec.xml","pretty_path":"$CIRCLE_TEST_REPORTS/rspec/rspec.xml","node_index":0,"url":"https://1-78449359-gh.circle-artifacts.com/0/tmp/circle-junit.3ZRe0p0/rspec/rspec.xml"}]'
  recorded_at: Wed, 18 Jan 2017 21:46:41 GMT
recorded_with: VCR 3.0.3
