---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/ssh-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-8a576872
      X-Circleci-Request-Id:
      - 2e2fb7a5-476e-4f99-88ac-8045deac4ea1
      X-Route:
      - "/ssh-key"
    body:
      encoding: UTF-8
      string: '{"message":"it looks like private key is invalid key.  Double check"}'
  recorded_at: Wed, 18 Jan 2017 21:31:33 GMT
recorded_with: VCR 3.0.3
