---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/140?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-c2e08dcc
      X-Circleci-Request-Id:
      - 41a4197e-fddf-445a-abcd-b38c758de174
      X-Route:
      - "/"
      - ":build_num"
      - "\\d+"
    body:
      encoding: UTF-8
      string: '{"message":"Build not found"}'
  recorded_at: Wed, 18 Jan 2017 21:31:26 GMT
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/1?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-07bc88ff
      X-Circleci-Request-Id:
      - a2271051-511c-4b60-ad1f-41b40a6fc66f
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":null,"previous_successful_build":null,"build_parameters":null,"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-10-01T04:15:11Z","steps":[{"name":"Starting
        the build","actions":[{"truncated":false,"index":0,"parallel":false,"failed":null,"infrastructure_fail":null,"name":"Starting
        the build","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2017-01-18T18:33:15.781Z","type":"infrastructure","output_url":"https://circle-production-action-output.s3.amazonaws.com/b9b0a573224f691d3e4bf785-modolabs-circleci-0-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20170118T214846Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20170118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=1e21ce212db6bbb18868fc5d38facf429c83bbe344e523505a27c20e9eaa1a87","start_time":"2017-01-18T18:33:07.939Z","exit_code":null,"canceled":null,"step":0,"run_time_millis":7842,"has_output":true}]},{"name":"Start
        container","actions":[{"truncated":false,"index":0,"parallel":true,"failed":null,"infrastructure_fail":null,"name":"Start
        container","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2017-01-18T18:33:29.781Z","source":"config","type":"infrastructure","output_url":"https://circle-production-action-output.s3.amazonaws.com/d9b0a573224f691dbe4bf785-modolabs-circleci-1-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20170118T214846Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20170118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=03e4c28f9dcffe1fabf36772c7c71636ecd4a1e4b6a72c9661a461d4d4a25a08","start_time":"2017-01-18T18:33:15.789Z","exit_code":0,"canceled":null,"step":1,[...]
