---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/tree/master?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"build_parameters":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://circleci.com/api/v1.1/project/github/modolabs/circleci/3
      X-Circleci-Identity:
      - i-da4c22d4
      X-Circleci-Request-Id:
      - 15927cd0-e783-4700-8855-d0cc9302cf53
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/tree/:branch"
      - ":branch"
      - "[^,;?]+"
    body:
      encoding: UTF-8
      string: '{"compare":null,"previous_successful_build":{"build_num":1,"status":"success","build_time_millis":121179},"build_parameters":{},"oss":true,"committer_date":null,"body":null,"usage_queued_at":"2017-01-18T21:30:31.216Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/modolabs/circleci/3","parallel":1,"failed":null,"branch":"master","username":"modolabs","author_date":null,"why":"api","user":{"is_user":false,"login":"none"},"vcs_revision":"17689466091d0399bf86751d5a560179f0758a8b","vcs_tag":null,"build_num":3,"infrastructure_fail":false,"committer_email":null,"previous":{"build_num":1,"status":"success","build_time_millis":121179},"status":"not_running","committer_name":null,"retries":null,"subject":null,"vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"not_running","no_dependency_cache":false,"stop_time":null,"ssh_disabled":false,"build_time_millis":null,"circle_yml":null,"messages":[],"is_first_green_build":false,"job_name":null,"start_time":null,"canceler":null,"outcome":null,"vcs_url":"https://github.com/modolabs/circleci","author_name":null,"node":null,"canceled":false,"author_email":null}'
  recorded_at: Wed, 18 Jan 2017 21:31:27 GMT
recorded_with: VCR 3.0.3
