---
http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/140?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-ebb4d678
      X-Circleci-Request-Id:
      - 2f527292-3f55-4c54-8918-6dbf74360dab
      X-Route:
      - "/"
      - ":build_num"
      - "\\d+"
    body:
      encoding: UTF-8
      string: '{"message":"Build not found"}'
  recorded_at: Wed, 18 Jan 2017 21:31:26 GMT
- request:
    method: get
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/1?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-91b38769
      X-Circleci-Request-Id:
      - 1712b514-2204-4a3d-8301-02edaf25ef2b
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":null,"previous_successful_build":null,"build_parameters":null,"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-10-01T04:15:11Z","steps":[{"name":"Starting
        the build","actions":[{"truncated":false,"index":0,"parallel":false,"failed":null,"infrastructure_fail":null,"name":"Starting
        the build","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2017-01-18T18:33:15.781Z","type":"infrastructure","output_url":"https://circle-production-action-output.s3.amazonaws.com/b9b0a573224f691d3e4bf785-modolabs-circleci-0-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20170118T215003Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20170118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=3cca558018da350168d310cbb8585b7d0bc6b3ac8a946fa0563148157f04ecc1","start_time":"2017-01-18T18:33:07.939Z","exit_code":null,"canceled":null,"step":0,"run_time_millis":7842,"has_output":true}]},{"name":"Start
        container","actions":[{"truncated":false,"index":0,"parallel":true,"failed":null,"infrastructure_fail":null,"name":"Start
        container","bash_command":null,"status":"success","timedout":null,"continue":null,"end_time":"2017-01-18T18:33:29.781Z","source":"config","type":"infrastructure","output_url":"https://circle-production-action-output.s3.amazonaws.com/d9b0a573224f691dbe4bf785-modolabs-circleci-1-0?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20170118T215003Z&X-Amz-SignedHeaders=host&X-Amz-Expires=431999&X-Amz-Credential=AKIAIJNI6FA5RIAFFQ7Q%2F20170118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=07bed0c3ae34417b0f1466b5be83b6924ca1016b41d857ffbf323650cb02403e","start_time":"2017-01-18T18:33:15.789Z","exit_code":0,"canceled":null,"step":1,[...]
