---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/ssh-key?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: '{"hostname":"hostname","private_key":"RSA Private Key"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-551d61c6
      X-Circleci-Request-Id:
      - cb348c00-d3d7-4aeb-b7c3-98bbdb617de6
      X-Route:
      - "/ssh-key"
    body:
      encoding: UTF-8
      string: '{"message":"it looks like private key is invalid key.  Double check"}'
  recorded_at: Wed, 18 Jan 2017 21:31:33 GMT
recorded_with: VCR 3.0.3
