---
http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/140/ssh-users?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-c44f635d
      X-Circleci-Request-Id:
      - b5649ee5-4366-464b-80b7-9ba44674f35a
      X-Route:
      - "/ssh-users"
      - ":build_num"
      - "\\d+"
    body:
      encoding: UTF-8
      string: '{"message":"Build not found"}'
  recorded_at: Wed, 18 Jan 2017 21:31:26 GMT
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/github/modolabs/circleci/1/ssh-users?circle-token=<TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Circleci-Identity:
      - i-551d61c6
      X-Circleci-Request-Id:
      - 9d001d03-5057-4090-bf9a-bd5e536bb785
      X-Circleci-Scopes:
      - ":all"
      - ":none"
      - ":read-settings"
      - ":status"
      - ":trigger-builds"
      - ":view-builds"
      - ":write-settings"
      X-Route:
      - "/ssh-users"
      - ":build_num"
      - "\\d+"
    body:
      encoding: ASCII-8BIT
      string: '{"compare":null,"previous_successful_build":null,"build_parameters":null,"oss":true,"all_commit_details_truncated":false,"committer_date":"2016-10-01T04:15:11Z","body":"-
        Fix require of forwardable issue","usage_queued_at":"2017-01-18T18:37:37.619Z","fail_reason":null,"retry_of":null,"reponame":"circleci","ssh_users":[],"build_url":"https://circleci.com/gh/modolabs/circleci/1","parallel":1,"failed":null,"branch":"master","username":"modolabs","author_date":"2016-10-01T04:15:11Z","why":"first-build","user":{"is_user":true,"login":"eebs","avatar_url":"https://avatars.githubusercontent.com/u/597311?v=3","name":"Ebrahim
        Kobeissi","vcs_type":"github","id":597311},"vcs_revision":"17689466091d0399bf86751d5a560179f0758a8b","vcs_tag":null,"build_num":1,"infrastructure_fail":false,"committer_email":"matthew@el-chavez.me","has_artifacts":true,"previous":null,"status":"success","committer_name":"Chavez","retries":[8,7],"subject":"Update
        to version 1.0.3","vcs_type":"github","timedout":false,"dont_build":null,"lifecycle":"finished","no_dependency_cache":false,"stop_time":"2017-01-18T18:35:08.119Z","ssh_disabled":false,"build_time_millis":121179,"circle_yml":{"string":"machine:\n  ruby:\n    version:
        2.2.3\n"},"messages":[],"is_first_green_build":true,"job_name":null,"start_time":"2017-01-18T18:33:06.940Z","canceler":null,"all_commit_details":[{"committer_date":"2016-10-01T04:15:11Z","body":"-
        Fix require of forwardable issue","author_date":"2016-10-01T04:15:11Z","committer_email":"matthew@el-chavez.me","commit":"17689466091d0399bf86751d5a560179f0758a8b","committer_login":"mtchavez","committer_name":"Chavez","subject":"Update
        to version 1.0.3","commit_url":"https://github.com/modolabs/circleci/commit/17689466091d0399bf86751d5a560179f0758a8b","author_login":"mtchavez","author_name":"Chavez","author_email":"matthew@el-chavez.me"}],"outcome":"success","vcs_url":"https://github.com/modolabs/circleci","author_name":"Chavez","node":[{"public_ip_addr":"54.146.14.88","port":64535,"username":"ubuntu","image_id":"https://s3.amazonaws.com/circle-downloads/build-image-ubuntu-14.04-XXL-927-41cd8fe.tar.gz","ssh_enabled":null}],"queued_at":"2017-01-18T18:33:06.886Z","canceled":false,"author_email":"matthew@el-chavez.me"}'
  recorded_at: Wed, 18 Jan 2017 21:46:44 GMT
recorded_with: VCR 3.0.3
